.shop__container {
    width: 1143px;
    margin: 0 auto;
}

.shops {
    display: flex;
    flex-direction: column;
}
.shop__title {
    margin: 0 auto;
    font-family: 'Playfair Display Regular', serif;
    font-size: 49px;
    margin-bottom: 30px;
}

.shop__nav{
    display: flex;
    justify-content: center;
}

.shop__list{
    border-right: 2px #22222252 solid;
    padding: 0 14px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: 400;

}
.shop__list:last-child {
    border-right: none;
}

.shop__item a{
    font-size: 20px;
    text-decoration: none;
    color: #22222252;
}

.shop-ring a{
    color: #222222;
}

.shop__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #22222252;
}

.filter__item{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    margin-left: 23px;
}
.filter__item-first {
    margin-left: 0;
}
.filter__item button{
    margin-left: 42px;
    border: none;
    background-color: #fff;
}


