body.modal{
  overflow: hidden;
}

.cart-back-shadow {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000038;
  z-index: 1;
  /* flex: 1; */
  width: 100%;
  height: 100%;
}

.cart-container {
  position: absolute;
  width: 664px;
  right: 0;
  height: 100%;
  background: #fff;
  padding: 23px;
  display: flex;
  flex-direction: column;
}
.cart-nav {
  display: flex;
  justify-content: space-between;
}
.cart-nav-text {
  font-family: "Playfair Display";
  font-size: 48px;
  margin-bottom: 26px;
}
.cart-items {
  flex: 1;
  overflow: auto;
  margin-bottom: 36px;
}
.cart__item {
  display: flex;
  font-family: "Open Sans";
  gap: 10px;
  padding: 12px;
  border: 2px #d8c29d solid;
  position: relative;
  margin-bottom: 25px;
}
.cart-img {
  width: 165px;
  height: 165px;
}
.cart_detail {
  display: flex;
  gap: 13px;
}
.cart_detail li {
  font-weight: bold;
}
.cart__item-remove-btn img {
  position: absolute;
  z-index: 1;
  right: 40px;
  bottom: 22px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
.cart__item-remove-btn img:hover {
  opacity: 2;
}

.cart__item-remove-btn button {
  background-color: #fff;
  border: none;
}
.cart__collection-name {
  font-size: 16px;
  color: #d8c29d;
}
.cart-name {
  font-weight: bold;
  font-size: 24px;
}
.cart-price {
  font-size: 20px;
  /* margin-bottom: 15px; */
}

.total-price {
  display: flex;
  margin-bottom: 20px;
  font-family: "Inter";
}

.dashed {
  flex: 1;
  /* height: 0.2px; */
  border-bottom: 1px #dfdfdf dashed;
  position: relative;
  top: -4px;
  margin: 0 5px;
}
.cart-buy-btn a, .complete-back-btn a {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
  width: 100%;
  background-color: #d8c29d;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-buy-btn a:hover, .complete-back-btn a:hover {
  background-color: #7c705a;
}
.cart-buy-btn a:active, .complete-back-btn a:active {
  background-color: #ddd2bc;
}
.line_cart {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px #d8c29d solid;
  position: absolute;
  /* z-index: 5; */
  left: 0;
  right: 0;
  bottom: 174px;
}



@media (max-width: 860px){
    .cart-container{
      width: 550px;
    }
}

@media (max-width: 550px){
  .cart-container{
    width: 100%;
  }
  .cart__item {
    font-size: 10px;
    gap: 8px;
    padding: 8px;
    border: 2px #d8c29d solid;
    position: relative;
    margin-bottom: 18px;
  }
  .cart-name {
    font-weight: bold;
    font-size: 18px;
}
  .cart__item-remove-btn img{
    right: 20px;
}
}

@media (max-width: 475px){
  .cart-nav-text {
    font-size: 30px;
  }
  .cart-img {
    width: 120px;
    height: 120px;
}
.cart__item-remove-btn img{
  right: 5px;
  bottom: 5px;
  width: 80px;
}
}

@media (max-width: 400px){
  .cart-nav-text {
    font-size: 20px;
  }
  .cart__close {
    width: 25px;
    height: 25px;
  }
  .cart-img {
    width: 55px;
    height: 55px;
}
.cart__collection-name {
  font-size: 8px;
}
.cart-name, .cart-price{
  font-size: 12px;
}
.cart-items {
  margin-bottom: 10px;
}
.cart__item {
  font-size: 6px;
}
.cart__total {
  font-size: 10px;
}
.line_cart {
  margin-bottom: 5px;
}
.cart-buy-btn a{
  padding: 8px;
  font-size: 12px;
}
.cart__item-remove-btn img{
  right: 5px;
  bottom: 5px;
  width: 80px;
}
}