.cart-back-shadow {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000038;
  z-index: 1;
  /* flex: 1; */
  width: 100%;
  height: 100%;
}

.cart-container {
  position: absolute;
  width: 664px;
  right: 0;
  height: 100%;
  background: #fff;
  padding: 23px;
  display: flex;
  flex-direction: column;
}

.cart-nav {
  font-family: "Playfair Display";
  font-size: 48px;
  margin-bottom: 26px;
}
.cart-items {
  flex: 1;
  overflow: auto;
  margin-bottom: 36px;
}
.cart__item {
  display: flex;
  font-family: "Open Sans";
  gap: 10px;
  padding: 12px;
  border: 2px #d8c29d solid;
  position: relative;
  margin-bottom: 25px;
}
.cart-img {
  width: 165px;
  height: 165px;
}
.cart_detail {
  display: flex;
  gap: 13px;
}
.cart_detail li {
  font-weight: bold;
}
.cart__item-remove-btn img {
  position: absolute;
  z-index: 1;
  right: 40px;
  bottom: 22px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
.cart__item-remove-btn img:hover {
  opacity: 2;
}

.cart__item-remove-btn button {
  background-color: #fff;
  border: none;
}
.cart__collection-name {
  font-size: 16px;
  color: #d8c29d;
}
.cart-name {
  font-weight: bold;
  font-size: 24px;
}
.cart-price {
  font-size: 20px;
  /* margin-bottom: 15px; */
}

.total-price {
  display: flex;
  margin-bottom: 20px;
  font-family: "Inter";
}

.dashed {
  flex: 1;
  /* height: 0.2px; */
  border-bottom: 1px #dfdfdf dashed;
  position: relative;
  top: -4px;
  margin: 0 5px;
}
/* .cart-buy-btn {

    padding: 18px 0;
} */
.cart-buy-btn button {
  background-color: #d8c29d;
  color: #fff;
  width: 100%;
  height: 55px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart-buy-btn button:hover {
  background-color: #7c705a;
}
.cart-buy-btn button:active {
  background-color: #ddd2bc;
}
.line_cart {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px #d8c29d solid;
  position: absolute;
  /* z-index: 5; */
  left: 0;
  right: 0;
  bottom: 174px;
}
