main {
    display: list-item;
    justify-content: center;
    align-items: center;
    background-color: #F2EFEF;
}

.main-img{
    display: flex;
    justify-content: center;
}
.main-img img {
    width: 1315px;
    height: 713px;
}

.scroll-down {
    display: flex;
    justify-content: center;
}


@media (max-width: 1000px) {
    .main-img img {
        width: 850px;
        height: 475px;
    }
    .scroll-down {
        /* width: 60px; */
        height: 60px;
    }
}

@media (max-width: 860px) {
    .main-img img {
        width: 580px;
        height: 350px;
    }
}

@media (max-width: 675px) {
    .main-img img {
        width: 440px;
        height: 300px;
    }
}

@media (max-width: 545px) {
    .main-img img {
        width: 340px;
        height: 200px;
    }
}

@media (max-width: 360px) {
    .main-img img {
        width: 250px;
        height: 140px;
    } 
}