* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'TT Travels Light';
  src: url('./fonts/TTTravels-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  
  font-family: 'Felidae Regular';
  src: url('./fonts/Felidae-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels Regular';
  src: url('./fonts/TTTravels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

.container {
  margin: 30px;
}