.collection {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);

  gap: 30px;
}

.left__section {
  column-gap: 30px;
}

.product__ {
  background-color: #f2efef;
  margin-bottom: 30px;
  overflow: hidden;
}

.product__inner {
  display: flex;
  justify-content: space-between;

  transition: transform 400ms ease, background-position 200ms ease;
  background-image: linear-gradient(to bottom, #f2efef 50%, #eceea5 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  transform-origin: left center;
}

.product__:hover .product__inner {
  transform: scale(1.08);
  background-position: 0 100%;
}

.title__prod {
  align-self: flex-end;
  margin-bottom: 10px;
  position: relative;
  left: 20px;
}
.title__prod p {
  font-family: "Felidae Regular";
  font-size: 30px;
}

.title__prod span {
  font-family: "TT Travels Light";
  font-size: 20px;
  color: #7e7979;
}

.img__prod {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .collection {
    display: flex;
  }
  .title__prod p {
    font-size: 25px;
  }
  .img__prod img {
    /* height: 220px; */
    width: auto;
  }
  .product__inner {
  }
}

@media (max-width: 768px) {
  .collection {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .product__inner {
    height: 200px;
  }
  .img__prod img {
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 545px) {
  .collection {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .product__inner {
    height: 180px;
  }
  .img__prod img {
    height: 180px;
    /* width: 100%; */
  }
  .title__prod p {
    font-size: 22px;
  }
  .title__prod span {
    font-size: 15px;
  }
}

@media (max-width: 396px) {
  .img__prod img {
    height: 130px;
    padding: 10px;
    /* width: 100%; */
  }
  .product__inner {
    display: flex;
    flex-direction: column;
  }
  .title__prod {
    padding-top: 10px;
    align-self: auto;
  }
}
